extends layout

block content
    h1 Bienvenue sur le tchat

    h2 Connexion
    form(id="form-connection")
        label(for="name") Nom d'utilisateur 
        input(type="text" name ="name" id="name")
        input(type="submit", value="Se connecter au tchat")


block js
    script(src="/dist/socket.io.js")
    script(src="/javascripts/tchat-client.js")